* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 82.5%;
    max-width: 1320px;
    margin: 0 auto;
    margin-bottom: 50px;
}



/* ---------Banner Section------ */
.banner-section {
    background-image: url('../images/Banner\ Image-edit.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 150px 0;
}

.banner-section .banner-content {}

.banner-section .banner-content h3 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.banner-section .banner-content h1 {
    max-width: 632px;
    text-align: center;
    margin: auto;
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */
}

/* ----------OFF or Discount Section--------- */
.off-section {}

.off-section h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.off-section h3 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 30px;
    margin-bottom: 20px;
}

.off-section h2 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.off-section .off-section-img {
    text-align: center;
    margin-top: 30px;
}

.off-section .off-section-img img {
    width: 600px;
    height: 500px;
}

/* --------Welcome Section------ */
.welcome-section {
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 80px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.welcome-section .welcome-content {
    width: 65%;
}

.welcome-section .welcome-content h2 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}

.welcome-section .welcome-content p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin-bottom: 30px;
}

.welcome-section .welcome-content button {
    outline: 0;
    border: 0;
    background: none;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.welcome-section .welcome-image {
    width: 35%;
}

.welcome-section .welcome-image img {
    width: 320px;
    height: 410px;
}

/* --------Event Details Section------ */
.event-details-section {
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding: 80px;
}

.event-details-section h3 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.event-details-section h3>span {
    color: #F00;
}

.event-details-section button {
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-top: 35px;
    outline: 0;
    border: 0;
    cursor: pointer;
}

/* -------Offer Section----- */
.offer-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 45px;
}

.offer-section .offer-content {
    width: 450px;
}

.offer-section .offer-content h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.offer-section .offer-content h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 18px;
}

.offer-section .offer-content p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    margin-top: 22px;
}

.offer-section .offer-image {
    width: 390px;
    margin: auto;
}

.offer-section .offer-image img {
    width: 350px;
    height: 350px;
    border: 10px solid #F00;
    border-radius: 50%;
    padding: 20px;
}

.offer-section .offer-card {
    width: 376px;
}

.offer-section .offer-card h2 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.offer-section .offer-card p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

/* ---------Functional Card Section------ */
.functional-section {
    text-align: center;
}

.functional-section .functional-content h3 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.functional-section .functional-content h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 20px;
}

.functional-section .functional-content h1>span {
    color: #F00;
}

.functional-section .functional-content p {
    max-width: 750px;
    margin: 0 auto;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 20px;
}

.functional-section .functional-images {
    display: flex;
    width: 100%;
    background-image: url(../images/Group\ 44.png);
    background-repeat: no-repeat;
    position: relative;
    left: 50%;
    top: 0;

}

.functional-section .functional-images::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("../images/Rectangle\ 2.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 100%;
    left: 0;
}

.functional-section .functional-images .img-1 {
    width: 60%;
}

.functional-section .functional-images .img-2 {
    width: 40%;
    border-radius: 16px 16px 0px 0px;
}






/* ----------- Portfolio Section-------- */
.portfolio-section {}

.portfolio-section .portfolio-content {}

.portfolio-section .portfolio-content h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

.portfolio-section .portfolio-content h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.portfolio-section .portfolio-content p {
    max-width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 32px;
}

.portfolio-section .portfolio-images {
}

.portfolio-section .portfolio-images .row {
    width: 100%;
    display: flex;
    gap: 3.5%;
    margin-bottom: 30px;
}

.portfolio-section .portfolio-images .row img {
    width: 31%;
    transition: 0.5s;
    transform: scale(1);
}
.portfolio-section .portfolio-images .row img:hover {
    transform: scale(1.1);
}